.vscode/*
.svn/*
tags
*.o
*.swp
.*.log*
test.exe
.test.*
toscom.*beta*.tar.gz
makefile.orig
newenv.tar.gz
NEWENVTMP*
newtest*
libtest
LIB_*
*.a
chatlog.*
toscom/com_test.c
.tmpgrep*
lresult*

dispBin
work_toscom

smplComm/aboutIf.txt
smplComm/aboutUpgrade.txt
smplComm/com_debug.c
smplComm/com_debug.h
smplComm/com_debugMacro.h
smplComm/com_extra.c
smplComm/com_extra.h
smplComm/com_if.h
smplComm/com_proc.c
smplComm/com_procThread.c
smplComm/com_select.c
smplComm/com_select.h
smplComm/smpl_spec.c
smplComm/smpl_spec.h
smplComm/com_window.c
smplComm/com_window.h
smplComm/BUILD/sample.exe
smplComm/BUILD/.lib/ready
smplComm/README.md

resetTxt/aboutIf.txt
resetTxt/aboutUpgrade.txt
resetTxt/com_debug.c
resetTxt/com_debug.h
resetTxt/com_debugMacro.h
resetTxt/com_extra.c
resetTxt/com_extra.h
resetTxt/com_if.h
resetTxt/com_proc.c
resetTxt/com_procThread.c
resetTxt/README.md
resetTxt/BUILD/resetTxt.exe
resetTxt/test/aboutif.txt.*

analyzer/aboutIf.txt
analyzer/aboutUpgrade.txt
analyzer/BUILD/sample/
analyzer/com_debug.c
analyzer/com_debug.h
analyzer/com_debugMacro.h
analyzer/com_extra.c
analyzer/com_extra.h
analyzer/com_if.h
analyzer/com_proc.c
analyzer/com_procThread.c
analyzer/com_signal.c
analyzer/com_signal.h
analyzer/com_signalCom.c
analyzer/com_signalCom.h
analyzer/com_signalSet1.c
analyzer/com_signalSet1.h
analyzer/com_signalSet2.c
analyzer/com_signalSet2.h
analyzer/com_signalSet3.c
analyzer/com_signalSet3.h
analyzer/README.md
analyzer/BUILD/Analyzer.exe
analyzer/BUILD/.lib/ready

wintest/aboutIf.txt
wintest/aboutUpgrade.txt
wintest/com_debug.c
wintest/com_debug.h
wintest/com_debugMacro.h
wintest/com_extra.c
wintest/com_extra.h
wintest/com_if.h
wintest/com_proc.c
wintest/com_procThread.c
wintest/com_window.c
wintest/com_window.h
wintest/README.md
wintest/BUILD/win.exe
